<h1>Donate</h1>
<p class="lead">
  This project is funded by donations. If you like it, please consider donating. We would love
  to hear from you and we are open to suggestions for enhancements and additional features.
  Please use the <a routerLink="/contact">Contact</a> page to get in touch. We are working on
  implementing the &quot;address per donation&quot; feature, but for now, please use the following addresses:
</p>

<p class="lead">
  Bitcoin: <code>{{donateBitcoinAddress}}</code>
</p>
<p class="lead">
  Lightning: <code>{{donateLightningAddress}}</code>
</p>
