<h1>How It Works</h1>
<p class="lead">
  When you provide an email and Bitcoin address, the system will frequently check (roughly every 20 minutes) to see
  if there have been any transactions related to the Bitcoin address. If there have been, it will send you an email alert that
  includes the new balance of the address.
</p>

<p class="lead">
  I developed this service because I wanted to be notified when payments came into or out of my Bitcoin addresses, without signing
  up or paying for a service. I also appreciate services that collect minimal personal information, so I tried to provide that
  here as well. I also wanted to publish my own Bitcoin-related project, and this was a good opportunity to do so. I hope you find it useful!
</p>

<p class="lead">
  I'd love to get involved in other Bitcoin-related projects, so if you have any ideas or want to collaborate, please use the
  <a routerLink="/contact">contact form</a> to get in touch.
</p>
